extends layout

block content
  - each grp in res
    .grp
      a(href='/#{grp.urlname}')
        p=grp.name
        img(src='#{grp.group_photo.thumb_link}')

#  a(href='https://github.com/harlanh/meetup-dice')
#    img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub")
