extends layout

block content
  - var i = -3;
    while i <= res.length
      - i += 3;
      .row
        each grp in res.slice(i, i+3)
          .col-md-4.grp
            a(href='/#{grp.urlname}')
              .imgcont
                img.grp(src='#{grp.group_photo.photo_link}')
                p.grpname=grp.name
