body {
  padding: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000000;
}

.imgcont {
	
}

img.grp {
	margin: 0 auto;
	display: block;
	max-width: 50%;
	max-height: 50%;
}

p.grpname {
	text-align: center;
}